<table class="table table-horizontal table-bordered">
  <thead class="thead-strong">
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Rating</th>
      <th>Win</th>
      <th>Draw</th>
      <th>Lose</th>
      <th>Win Rate</th>
    </tr>
  </thead>
  <tbody id="tbody">
  {{#each member_list}}
    <tr>
      <td>{{rank}}</td>
      <td>{{name}}</td>
      <td>{{rating}}</td>
      <td>{{win}}</td>
      <td>{{draw}}</td>
      <td>{{lose}}</td>
      <td>{{win_Rate}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>