<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="./css/result/landing-page.min.css" rel="stylesheet">
  
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css//result.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">

</head>

<body>
  <input type="hidden" id="menu_content" value="result">
  <div id="header"></div>

  <!-- Image Showcases -->
  <section class="showcase">
    <div id="result_container" class="container-fluid p-0">
      {{#each member_result_list}}
      <input type="hidden" id="home_rating_{{@index}}" value={{home_rating}}>
      <input type="hidden" id="home_name_{{@index}}"   value={{home_name}}>
      <input type="hidden" id="home_score_{{@index}}"  value={{home_score}}>
      <input type="hidden" id="away_rating_{{@index}}" value={{away_rating}}>
      <input type="hidden" id="away_name_{{@index}}"   value={{away_name}}>
      <input type="hidden" id="away_score_{{@index}}"  value={{away_score}}>
      <input type="hidden" id="match_type_{{@index}}"  value={{match_type}}>
      <div class="row no-gutters">
        <div id="result_img_{{@index}}" class="col-lg-6 order-lg-2 text-white showcase-img");"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text center-block">
          <table style="width:100%;">
            <tbody>
              <tr>
                <td class="plate name">{{home_name}}</td>
                <td class="plate score">{{home_score}}</td>
                <td class="plate score">:</td>
                <td class="plate score">{{away_score}}</td>
                <td class="plate name">{{away_name}}</td>
              </tr>
              <tr>
                <td class="plate team"><strong>{{home_team}}</strong></td>
                <td class="plate score"></td>
                <td class="plate score"></td>
                <td class="plate score"></td>
                <td class="plate team"><strong>{{away_team}}</strong></td>
              </tr>
            </tbody>
          </table>
          <p class="match">{{date}} <a href="/match/{{match_info_id}}">#{{match_info}}</a> {{match_type}}</p>
          <a href="/report/{{id}}">#이 경기의 레포트 보기 <span class="badge"> {{comment_count}}개의 응원메시지가 있습니다.</span></a>
        </div>
      </div>
      <hr>
      {{/each}}
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Show Next Results</a>
      </div>
    </div>
  </section>
  
  
  
  <div id="footer"></div>
  
  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!--add custom js -->
  <script src="/js/app/common.js"></script>
  <script src="/js/app/member_result.js"></script>

</body>

</html>
